* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 25px;
    color: black;
    letter-spacing: 3vmin;
    margin: 2px;
    text-align-last:  center;
    padding-left: 25px;
    padding-bottom: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(6, 10vmin);
    grid-template-rows: repeat(6, 10vmin);
    gap: 1vmin;
    margin: 0 auto;
    align-items: center;
}

.card {
    border: 0.2vmin solid black;
    font-size: 300%;
    text-align: center;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.cards > div:hover {
    transform: scale(1.1);
    transition: transform 300ms case-in;
    visibility: visible;
}

.cards > .card > .front:hover {
    visibility: visible;
}
.cards > .card > .back:hover {
    visibility: hidden;
    pointer-events: none;
}

button:hover {
    color: white;
    background-color: darkgray;
    border: 0.2vmin solid black;
    border-radius: 5%;
    transform: scale(1.2);
}

#countdown {
    visibility: hidden;
    height: 6vmin;
    width: 20vmin;
    border: .3vmin solid black;
    font-size: 5vmin;
    padding: 1vmin;
    justify-self: center;
    align-self: center;
    color: purple;
    margin-bottom: 10px;
}

.toggleCard {
    transform: rotateY('180deg');
}

/* .front {
    visibility: hidden;
} */